body {
    margin: 0;
    padding: 0;
    background-color: #222;
    font-family: 'Courier New', Courier, monospace;
}

header {
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    background-color: #222;
    color: white;
    text-align: center;
    font-size: 1.2em;
    z-index: 10;
}

canvas {
    display: block;
    border: 2px solid white;
    background-color: #333;
    margin: 50px 0;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #222;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 0.8em;
    z-index: 10;
}

#hud {
    display: flex;
    flex-direction: column;
    color: white;
    text-align: center;
    font-size: 1.2em;
    border: 2px solid white;
    background-color: #333;
    margin: 20px;
    width: 200px;         /* Fixed width */
    height: 300px;

}

#game {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0;
}
