#walt-head {
    background-image: url("http://walterreid.com/img/td_background.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 400px;
    position: relative;
    border-bottom: 0;
    padding-bottom: 0;
  }
  
  #walt-head .toppanel {
    background-color: rgba(61, 73, 49, 0.7);
    padding: 20px;
    position: absolute;
    top: 0;
    left: 40px;
    margin-top: 0;
  }
  
  #walt-head .toppanel h1, #walt-head .toppanel h2 {
    color: #fff;
    margin: 0;
  }

button {
    background-color: #4CAF50;
    border: none;
    width: 250px;
    float: left;
    height: 3em;
    color: white;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.4s cubic-bezier(0, 0, 1, 0);
    text-transform: capitalize;
    margin: 1px;
  }