/* Basic code, make it in semestral work */
body{
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
*, *::before, *::after {
    box-sizing: inherit;
    font-family: inherit;
}
/* tohle je kvůli velkosti boxů */


.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.page header {
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: center;
    align-items: center;
}
.page section {
    display: flex;
   flex-grow: 1;
    min-height: 400px;
    flex-wrap: wrap;

}
.page section nav {
   flex-shrink: 0;
   padding: 1em;
}
.page section main {
    padding: 1em;
    flex-shrink: 0;
    flex-grow: 1;

}
.page section aside {
    width: 150px;
    padding: 1em;
    flex-shrink: 0;
    box-sizing: border-box;

}

/* jde použít text align center */
.page footer {
    height: 100px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;


}


@media (max-width: 700px) {
    .page section {
        flex-direction: column-reverse;
        min-height: 0;
    }
    /* .page section nav {
        width: 100%;
        order: 2;
    }
    .page section main {
        order: 1;
    } command K C*/

    .page section aside {
        display: none;
    }

    
}